<% provide(:title, "Favorites | sachi") %>
<div class="page-title">
  <h1>Favorites</h1>
</div>
<div class="favorites-contents container">
  <p>お気に入りのモノ。サービス、ツール、広告、映画、本、食べ物、育児用品、などなど。</p>
  <div class="favorites-cards row">
    <% @favorites.each do |favorite| %>
      <div class="col-sm-6 col-lg-4">
        <%= link_to(favorite, class: "favorites-card-link") do %>
          <div class="favorites-card ">
            <%= image_tag favorite.picture.url if favorite.picture? %>
            <h2 class="title"><%= favorite.title %></h2>
            <p class="content"><%= truncate(favorite.content, length: 70, omission: '...') %></p>
            <p class="timestamp"><%= time_ago_in_words(favorite.created_at) %>前に投稿</p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
