<% provide(:title, "Contact | sachi") %>
<div class="page-title">
  <h1>Contact</h1>
  <h2>入力内容の確認</h2>
  <p>入力内容を確認し、よろしければ送信ボタンをクリックしてください。</p>
</div>
<div class="contact-contents">
  <%= form_with model: @contact, url: contact_thanks_path, local: true do |f| %>
    <%= f.hidden_field :name %>
    <%= @contact.name %>

    <%= f.hidden_field :email %>
    <%= @contact.email %>

    <%= f.hidden_field :message %>
    <%= simple_format(@contact.message) %>

    <%= f.submit '送信', class: 'btn btn-secondary' %>
  <% end %>
</div>
