<% provide(:title, "Contact | sachi") %>
<div class="page-title">
  <h1>Contact</h1>
  <h2>入力内容の確認</h2>
</div>
<div class="contact-contents">
  <p>入力内容を確認し、よろしければ送信ボタンをクリックしてください。</p>
  <%= form_with model: @contact, url: contact_thanks_path, local: true do |f| %>
    <div class="form-group">
      <span>Name：</span>
      <%= f.hidden_field :name %>
      <%= @contact.name %>
    </div>
    <div class="form-group">
      <span>Email：</span>
      <%= f.hidden_field :email %>
      <%= @contact.email %>
    </div>
    <div class="form-group">
      <span>Message：</span><br>
      <%= f.hidden_field :message %>
      <%= simple_format(@contact.message) %>
    </div>
    <div class="btn-common">
      <%= f.submit '送信', class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
