<% provide(:title, "Contact | sachi") %>
<div class="page-title">
  <h1>Contact</h1>
</div>
<div class="contact-contents">
  <%= form_with model: @contact, url: { action: 'check' }, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :message %>
      <%= f.text_area :message, class: 'form-control' %>
    </div>
    <div class="btn-common">
      <%= f.submit '確認', class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
